<h1 class="mt-4">Livros</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Lista</li>
</ol>

<div>

    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success" role="alert" *ngIf="mensagemSucesso">
                {{ mensagemSucesso }}
            </div>
            
            <div class="alert alert-danger" role="alert" *ngIf="mensagemErro">
                {{ mensagemErro }}
            </div>

        </div>
    </div>

    <div id="modalSelecao" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Confirmação</h4>
                </div>

                <div class="modal-body" *ngIf="livroSelecionado">
                    Confirma a exclusão do livro {{ livroSelecionado.titulo }}?
                </div>

                <div class="modal-footer">
                    <button class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button class="btn btn-success" (click)="deletaLivro()" data-dismiss="modal">Confirmar</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="modalDetalhes" *ngIf="livroSelecionado">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
          
            <div class="modal-header">
              <h4 class="modal-title">Informações sobre o livro {{ livroSelecionado.titulo }}</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
                <h4>Gerais</h4>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Id:</label>
                            <input type="text" class="form-control" disabled=true [(ngModel)]="livroSelecionado.id" name="id">
                        </div>
                    </div>
        
                    <div class="col-md-9">
                        <div class="form-group">
                            <label>Título:</label>
                            <input type="text" class="form-control" disabled=true [(ngModel)]="livroSelecionado.titulo" name="titulo">
                        </div>
                    </div>
                </div>
        
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Gênero:</label>
                            <input type="text" class="form-control" disabled=true [(ngModel)]="livroSelecionado.genero" name="genero">
                        </div>
                    </div>
        
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Número de Páginas:</label>
                            <input type="number" class="form-control" disabled=true [(ngModel)]="livroSelecionado.numeroPaginas" name="numeroPaginas">
                        </div>
                    </div>
        
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Ano de Publicação:</label>
                            <input type="text" class="form-control" disabled=true [(ngModel)]="livroSelecionado.anoPublicacao" name="anoPublicacao">
                        </div>
                    </div>
        
                    <div class="col-md-3 mb-2">
                        <div class="form-group">
                            <label>Idioma:</label>
                            <input type="text" class="form-control" disabled=true [(ngModel)]="livroSelecionado.idioma" name="idioma">
                        </div>
                    </div>
                </div>

                <h4>Autor</h4>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Id:</label>
                            <input type="text" class="form-control" disabled=true [(ngModel)]="autorDoLivro.id" name="idAutor">
                        </div>
                    </div>
        
                    <div class="col-md-9">
                        <div class="form-group">
                            <label>Nome:</label>
                            <input type="text" class="form-control" disabled=true [(ngModel)]="autorDoLivro.nome" name="nomeAutor">
                        </div>
                    </div>
                </div>
        
                <div class="row">
                    <div class="col-md-9">
                        <div class="form-group">
                            <label>Nacionalidade:</label>
                            <input type="text" class="form-control" disabled=true [(ngModel)]="autorDoLivro.nacionalidade" name="nacionalidade">
                        </div>
                    </div>
        
                    <div class="col-md-3 mb-2">
                        <div class="form-group">
                            <label>Data de Nascimento:</label>
                            <input type="text" class="form-control" disabled=true [(ngModel)]="autorDoLivro.dataNascimento" name="dataNascimento">
                        </div>
                    </div>
                </div>

                <h4>Editora</h4>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Id:</label>
                            <input type="text" class="form-control" disabled=true [(ngModel)]="editoraDoLivro.id" name="idEditora">
                        </div>
                    </div>
        
                    <div class="col-md-9">
                        <div class="form-group">
                            <label>Nome:</label>
                            <input type="text" class="form-control" disabled=true [(ngModel)]="editoraDoLivro.nome" name="nomeEditora">
                        </div>
                    </div>
                </div>
        
                <div class="row">
                    <div class="col-md-9">
                        <div class="form-group">
                            <label>País:</label>
                            <input type="text" class="form-control" disabled=true [(ngModel)]="editoraDoLivro.pais" name="pais">
                        </div>
                    </div>
        
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Ano de Fundação:</label>
                            <input type="text" class="form-control" disabled=true [(ngModel)]="editoraDoLivro.anoFundacao" name="anoFundacao">
                        </div>
                    </div>
                </div>
            
            <div class="modal-footer">
            </div>
            
          </div>
        </div>
      </div>

    
</div>

<div class="card-deck">
    <div class="card border-dark" *ngFor="let livro of livros">
        <div class="card-header">Id: {{livro.id}}</div>
      <div class="card-body">
            <h5 class="card-title">{{livro.titulo}}</h5>
            <h6 class="card-text">Gênero: {{livro.genero}}</h6>
            <h6 class="card-text">Idioma: {{livro.idioma}}</h6>
            <h6 class="card-text">Ano de publicação: {{livro.anoPublicacao}}</h6>
      </div>
      <div class="card-footer">
        <button data-toggle="tooltip" data-html="true" title="Editar livro" class="btn btn-primary" routerLink="/livrosForm/{{ livro.id }}">
            <i class="fa fa-pen-square"></i>
        </button>

        <button data-toggle="tooltip" data-html="true" title="Informações do livro" class="btn btn-primary ml-2" data-toggle="modal" (click)="getInfoParaDetalhar(livro)" data-target="#modalDetalhes">
            <i class="fa fa-info-circle"></i>
        </button>
        
        <a data-toggle="tooltip" data-html="true" title="Pesquisar livro na Amazon" class="btn btn-primary ml-2"  target="_blank" href="https://www.amazon.com.br/s?k={{livro.titulo}}">
            <i class="fab fa-amazon"></i>
        </a>
        
        <button data-toggle="tooltip" data-html="true" title="Excluir livro" class="btn btn-danger ml-2" (click)="preparaExclusao(livro)" data-toggle="modal" data-target="#modalSelecao">
            <i class="fa fa-trash"></i>
        </button>
      </div>
    </div>
    
</div>
