<h1 class="mt-4">Livros</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Lista</li>
</ol>

<div class="container float-left">

    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success" role="alert" *ngIf="mensagemSucesso">
                {{ mensagemSucesso }}
            </div>
            
            <div class="alert alert-danger" role="alert" *ngIf="mensagemErro">
                {{ mensagemErro }}
            </div>

        </div>
    </div>
    
    <div class="row mt-4">
        <div class="col-md-12">
            <table class="table table condensed table-hover">
                
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Título</th>
                        <th>N° de Páginas</th>
                        <th>Gênero</th>
                        <th>Idioma</th>
                        <th></th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr *ngFor="let livro of livros">
                        <td class="align-middle">{{ livro.id }}</td>
                        <td class="align-middle">{{ livro.titulo }}</td>
                        <td class="align-middle">{{ livro.numeroPaginas }}</td>
                        <td class="align-middle">{{ livro.genero }}</td>
                        <td class="align-middle">{{ livro.idioma }}</td>
                        <td>
                            <button class="btn btn-primary" routerLink="/livrosForm/{{ livro.id }}">
                                <i class="fa fa-pen-square"></i>
                            </button>

                            <button class="btn btn-danger ml-2" (click)="preparaExclusao(livro)" data-toggle="modal" data-target="#modalSelecao">
                                <i class="fa fa-trash"></i>
                            </button>
                            
                            <button class="btn btn-primary ml-2" data-toggle="modal" data-target="#modalTest">
                                <i class="fa fa-info"></i>
                            </button>

                        </td>
                    </tr>
                </tbody>

            </table>

            <div class="row">
                <button class="btn btn-success ml-3" (click)="onClickNovo()">
                    <i class="fa fa-plus mr-1"></i>Novo
                </button>
            </div>

        </div>
    </div>

    <div id="modalSelecao" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Confirmação</h4>
                </div>

                <div class="modal-body" *ngIf="livroSelecionado">
                    Confirma a exclusão do livro {{ livroSelecionado.titulo }}?
                </div>

                <div class="modal-footer">
                    <button class="btn btn-success" (click)="deletaLivro()" data-dismiss="modal">Confirmar</button>
                    <button class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>

            </div>
        </div>
    </div>

    <div id="modalTest" class="modal fade modal-xl modal-centered" role="dialog">
        <div class="modal-dialog modal-xl modal-centered">
            <div class="modal-content">
                <div class="modal-footer">
                    <button class="btn btn-success" data-dismiss="modal">Confirmar</button>
                    <button class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>

            </div>
        </div>
    </div>

    
</div>