<h1 class="mt-4">Livros</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Cadastro</li>
</ol>

<div class="container">
    <form #livroForm="ngForm" (ngSubmit)="onClickSalvar()">

        <div class="row">
            <div class="col-md-12">
                
                <div class="alert alert-success" role="alert" *ngIf="sucesso == true">
                    Aluno salvo/atualizado com sucesso!
                </div>

                <div class="alert alert-danger" role="alert" *ngFor="let erro of errosApi">
                    {{ erro }}
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Id:</label>
                    <input type="text" class="form-control" disabled=true [(ngModel)]="livro.id" name="id">
                </div>
            </div>

            <div class="col-md-9">
                <div class="form-group">
                    <label>Título:</label>
                    <input type="text" class="form-control" [(ngModel)]="livro.titulo" name="titulo">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-7">
                <div class="form-group">
                    <label>Autor:</label>
                    <input type="text" class="form-control" [(ngModel)]="livro.idAutor" name="idAutor">
                </div>
            </div>

            <div class="col-md-5">
                <div class="form-group">
                    <label>Editora:</label>
                    <input type="text" class="form-control" [(ngModel)]="livro.idEditora" name="idEditora">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Gênero:</label>
                    <input type="text" class="form-control" [(ngModel)]="livro.genero" name="genero">
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label>Número de Páginas:</label>
                    <input type="text" class="form-control" [(ngModel)]="livro.numeroPaginas" name="numeroPaginas">
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label>Ano de Publicação:</label>
                    <input type="text" class="form-control" [(ngModel)]="livro.anoPublicacao" name="anoPublicacao">
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label>Idioma:</label>
                    <input type="text" class="form-control" [(ngModel)]="livro.idioma" name="idioma">
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-2">
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-save"></i>
                    Salvar
                </button>
            </div>
        </div>
    </form>
</div>