<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Sistema de Livros</div>
                <a class="nav-link" routerLink="/home"
                    ><div class="sb-nav-link-icon"><i class="fas fa-home"></i></div>
                    Home</a
                >
                <div class="sb-sidenav-menu-heading">Componentes</div>

                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUm" aria-expanded="true" aria-controls="collapseUm"
                    ><div class="sb-nav-link-icon"><i class="fas fa-book"></i></div>
                    Livros
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div
                ></a>

                <div class="collapse" id="collapseUm" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">

                        <a class="nav-link collapsed" routerLink="/livrosForm" data-toggle="collapse" data-target="#CollapseCadastroLivros" aria-expanded="false" aria-controls="CollapseCadastroLivros">
                            <div class="sb-nav-link-icon"><i class="fas fa-plus-circle"></i></div>Cadastro</a>

                        <a class="nav-link collapsed" routerLink="/livrosList" data-toggle="collapse" data-target="#CollapseListaLivros" aria-expanded="false" aria-controls="CollapseListaLivros">
                            <div class="sb-nav-link-icon"><i class="fas fa-list"></i></div>Lista</a>
                       
                    </nav>
                </div>

                <a class="nav-link collapsed" href="" data-toggle="collapse" data-target="#collapseDois" aria-expanded="false" aria-controls="collapseDois"
                    ><div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                    Autores
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div
                ></a>

                <div class="collapse" id="collapseDois" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionDois">

                        <a class="nav-link collapsed" routerLink="/autoresForm" data-toggle="collapse" data-target="#CollapseCadastroAutores" aria-expanded="false" aria-controls="CollapseCadastroAutores">
                            <div class="sb-nav-link-icon"><i class="fas fa-plus-circle"></i></div>Cadastro</a>

                        <a class="nav-link collapsed" routerLink="/autoresList" data-toggle="collapse" data-target="#CollapseListaAutores" aria-expanded="false" aria-controls="CollapseListaAutores">
                            <div class="sb-nav-link-icon"><i class="fas fa-list"></i></div>Lista</a>
                       
                    </nav>
                </div>
                
                <a class="nav-link collapsed" href="" data-toggle="collapse" data-target="#collapseTres" aria-expanded="false" aria-controls="collapseTres"
                    ><div class="sb-nav-link-icon"><i class="fas fa-building"></i></div>
                    Editoras
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div
                ></a>

                <div class="collapse" id="collapseTres" aria-labelledby="headingThree" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionTres">

                        <a class="nav-link collapsed" routerLink="/editorasForm" data-toggle="collapse" data-target="#CollapseCadastroEditoras" aria-expanded="false" aria-controls="CollapseCadastroEditoras">
                            <div class="sb-nav-link-icon"><i class="fas fa-plus-circle"></i></div>Cadastro</a>

                        <a class="nav-link collapsed" routerLink="/editorasList" data-toggle="collapse" data-target="#CollapseListaEditras" aria-expanded="false" aria-controls="CollapseListaEditras">
                            <div class="sb-nav-link-icon"><i class="fas fa-list"></i></div>Lista</a>
                       
                    </nav>
                </div>

                <div class="sb-sidenav-menu-heading">Extras</div>
                <a class="nav-link" href="https://github.com/vinielias11/ProjetoFinalBethaCode" target="_blank"
                    ><div class="sb-nav-link-icon"><i class="fab fa-github"></i></div>
                    Repositório no GitHub</a
                >
                <!-- <a class="nav-link" href="tables.html"
                    ><div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Tables</a
                > -->
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logado como:</div>
            Administrador
        </div>
    </nav>
</div>